<a href="https://colab.research.google.com/github/nyamin9/RDR_Project/blob/main/mysql_python_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.0.3)

In [ ]:
import pandas as pd

In [ ]:
import pymysql
#patientID,hosID,doctorID,prescription_amount,day,state

ID = input("아이디 :")
password= input("비밀 번호 :")
RNN = input("환자 주민번호: ")

hosID = int(input("병원 번호: "))
drugID = input("약 번호:")
doctorID = int(input("의사 번호: "))
prescription_amount = int(input("약 투여량:"))
day = int(input("처방 일:"))
state = input("환자 상태:")
db = pymysql.connect(host='115.137.160.190', user=ID, password = password, port = 3306, db='drugdb', charset='utf8')
cursor = db.cursor()

#sql = "insert into prescription_record (patientID,hosID,drugID,doctorID,prescription_amount,day,state) values(" + 
sql ="select patientID from patient_info where pRNN = \"" + RNN + "\";"
cursor.execute(sql)

result = cursor.fetchall()
patientID = result[0][0]

sql2 = "insert into prescription_record (patientID,hosID,drugID,doctorID,prescription_amount,day,state)" + "values("+str(patientID)+","+ str(hosID) + "," + str(drugID)+ "," + str(doctorID) + "," + str(prescription_amount)+ "," + str(day) + "," + str(state) +");"
cursor.execute(sql2)
db.commit()
print("입력 완료.")

아이디 :doctor1
비밀 번호 :1
환자 주민번호: 190424-4754511
병원 번호: 9
약 번호:5
의사 번호: 19
약 투여량:1
처방 일:1
환자 상태:1
입력 완료.

In [ ]:
b = a.iloc[0:len(a)+1,0:2]
b

     0  1
0    2  1
1    3  3
2    4  4
3    5  8
4    6  3
5    7  9
6    8  9
7    9  4
8   10  4
9   11  3
10  12  6
11  13  7
12  14  4
13  15  5
14  16  1
15  17  8
16  18  8
17  19  9
18  20  9
19  21  6
20  22  5
21  23  2
22  24  1
23  25  1
24  26  1
25  27  9
26  28  9
27  29  1
28  30  3
29  31  9
30  32  1

In [ ]:
b.to_csv("/content/sample_data/append.csv")

In [ ]:
db.close()